<!DOCTYPE html>
<html>
<head>
    <title>ChatIgniter</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<h1>Hello to ChatIgniters</h1>
<div class="list-group col-12">
    <% rooms.forEach(room => { %>
        <a href="/<%= room.id %>" class="list-group-item list-group-item-action"> <%= room.name %> </a>
    <% }) %>
</div>
<br>
<p>Or create your own:</p>
<form class="row row-cols-lg-auto g-3 align-items-center" method="post" action="/">
    <div class="col-12">
        <input type="text" class="form-control" placeholder="name" name="name" required>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
<%- quote.h %>
</body>
</html>
