<!DOCTYPE html>
<html>
<head>
    <title>ChatIgniter</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>

<div class="container">
<h1>Hello to ChatIgniters</h1>
<%-body -%>
</div>

</body>
</html>