<!DOCTYPE html>
<html>
<head>
    <title>ChatIgniter</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Hello to ChatIgniters</h1>
        </div>
        <div class="col text-end">
            <% if (auth) { %>
                <form method="post" action="/auth/logout">
                    <button class="btn btn-danger ">Logout</button>
                </form>
            <%}%>
        </div>
    </div>

    <% if (!auth) { %>
        <p>Our community is very closed, please verify your identity.</p>
        <a class="link-info" href="/auth/login">Sign in</a>
    <% } else { %>
    <%- body -%>
    <% } %>
</div>
</body>
</html>