<!DOCTYPE html>
<html>
<head>
    <title>ChatIgniter</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
    <h1>Room: <%= room.name %></h1>
    <a class="btn btn-info" href="/">Back</a>
    <h2>Messages:</h2>
    <ul>
        <% messages.forEach(message => { %>
        <li><%=message.text %></li>
        <%})%>
    </ul>
    <form class="row row-cols-lg-auto g-3 align-items-center" method="post" action="/<%=room._id%>">
        <div class="col-12">
            <input type="text" class="form-control" placeholder="text" name="text" required>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
</body>